html body {
    height: 100%;
}

body {
    display: grid;
    grid-template-areas:
    "";
    grid-template-columns: 6 1fr;
    gap: 2px;
}

body,div,nav {
    color: silver;
}
h1 {
    font-weight: bold;
    color: black;
}
header {
    grid-area: header;
    background-color: silver;
    border:black 1px;
}
nav {
    grid-area: nav;
    background-color:blue;
    border:black 1px;
}

article {
    grid-area: article;
    background-color: silver;
    border:black 1px;
}

aside {
    grid-area: aside;
    background-color: silver;
    border:black 1px;
}

footer {
    grid-area: footer;
    background-color: silver;
    border:black 1px;
}