html body {
    height: 100%;
}

body {
    display: grid;
    grid-template-areas:   
    "header header header header header header"
    "nav nav nav nav nav nav"
    "article article article article aside aside"
    "footer footer footer footer footer footer";
    grid-template-columns:6 1fr ;
}

h1 {
    /* background-color: blue; */
}
header {
    grid-area: header;
    background-color: silver;
    border:black 1px;
}
nav {
    grid-area: nav;
    background-color: silver;
    border:black 1px;
}

article {
    grid-area: article;
    background-color: silver;
    border:black 1px;
}

aside {
    grid-area: aside;
    background-color: silver;
    border:black 1px;
}

footer {
    grid-area: footer;
    background-color: silver;
    border:black 1px;
}